extends layout

block content
  br
  h1(class='aboutus') About Us
  br
  div(class='aboutustxt')
   h4 Union Cab has been in the Taxi Business since 2004 and is in service to you now.
    | Our Taxi Cabs are  fully insured and in beautiful condition to offer you an excellent ride experience, 
    | every time and every where around the city of Berkeley. 
