extends layout

block content
  container(style='text-align:center')
   p(class='fares') Cab Fares
     br
     br
   table
    tbody
     tr
      td Flage Drop
      td $3.40
     tr
      td 1 mile
      td $30.00 cents 
     tr
      td 1 hour waiting
      td $30.00
     tr
      td Every 36 seconds waiting time or traffic: 
      td $0.30 cents
   
  //- (style='border:1; cellspacing:10; cellpadding:10;')
