extends layout

block content
   div(class='services')
     p(class='servicesoffer') Services we offer
      br
      br
     p
     | Whether a driver around town is required or an airport pick up and drop off, Union Cab is the company most capable of helping out and assisting. The family owned and operated business provides rides in the SFO, Oakland and San Jose area. Having a reliable service available in the area is essentially for family and business drives, as keeping to a specific schedule is often necessary, regardless of where the final destination is or what time of year the cab service is needed.
     br
     br
     | Union Cab provides professional airport pick ups and drop offs. As the drivers know the location of specific airline gates, airport drop offs are no longer a guessing game, as arriving at the correct gate is often the difference between catching a flight and missing one. Locating someone capable of punctual enough to drive to the airport is difficult enough, but ensuring it fits into their schedule is often next to impossible, so instead of dealing with calling around and trying to find a ride, or even driving to the airport, travelers are better off calling Union Cab. A short reservation phone call or email is all it takes to make sure of an on time arrival or pick up.
     br
     br
     | After spending hours sitting on a cramped, noisy airplane, the last thing any traveler wants to do is wait for a ride at the gate or climb into a dirty, ill-equipped vehicle. Union Cab prides itself on its cleanness, and although all of the drivers are incredibly knowledgable of the surrounding area, the GPS-equipped vehicles ensure the very best rout to and from the airport. Air travel is hectic and stressful enough, travelers should at least enjoy the ride to and from the airport.
     br
     br
     | Sometimes it just isn’t possible to drive around town, so whether it is a quick jaunt across town for a meeting or friends are looking to go out and don’t want to drive, Union Cab has them covered. The company is more than capable of servicing the entire region, and with the professional, clean and GPS-equipped vehicles, finding any desired pick up or drop off location is all within the expertise of Union Cab. So, instead of trusting a different company or seeking out someone else to drive, a single phone call or email is all it takes to bring about the best cab company in the entire area.
